<div class="page-header">
  <h1>Showing Organization <%= @organization.name %></h1>
</div>

<h2>People</h2>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class= "col-md-1">
        <div class="well">
          <ul>
            <% @organization.persons.each do |person| %>
              <li><%= person.name %></li>
            <% end %>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
